# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual env
venv/
env/
.venv/

# Django
*.log
staticfiles/
media/
*.pot
*.mo

# Environment
.env
.env.* 
*.env

# Docker
docker-compose.override.yml
**/Dockerfile.user

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System
.DS_Store
Thumbs.db
